<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="https://res.cloudinary.com/ayoafolalu/image/upload/v1595470502/efamproperties/favicon_q4zcbq.ico">
    <title>EFAM Properties</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
   
    <!-- Navigation -->
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">-->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#"><img class = "logoPic" src="https://res.cloudinary.com/ayoafolalu/image/upload/v1595470518/efamproperties/logo1_qwe1as.png"></a> <br>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse justify-content-md-center text-center" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
                  <span class="sr-only">(current)</span>
                </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="investors">Investors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-dark" href="subscribe">Subscribe</a>
          </li>
        </ul>
      </div>
      
    </div>
  </nav>
  
  
  
  <section class="carousel">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('https://images.unsplash.com/photo-1503174971373-b1f69850bded?ixlib=rb-1.2.1&auto=format&fit=crop&w=1387&q=80')">
          <div class="carousel-caption d-md-block">
            <h2 class="display-4"><strong>A PLACE TO LIVE</strong></h2>
            <p class="lead"><strong>Warm, comfortable, stylish and secure living</strong></p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('https://images.pexels.com/photos/667838/pexels-photo-667838.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')">
          <div class="carousel-caption d-md-block">
            <h2 class="display-4"><strong>A PLACE TO
              WORK</strong></h2>
            <p class="lead"><strong>All our homes have been designed with study in mind,<br> 
              giving you the space you need to succeed.</strong></p>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('https://images.unsplash.com/photo-1501183638710-841dd1904471?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')">
          <div class="carousel-caption d-md-block">
            <h2 class="display-4"><strong>A PLACE TO UNWIND</strong></h2>
            <p class="lead"><strong>Homes with communal and private spaces to suit your mood. </strong></p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
    </div>
</section>
  
  <!-- Page Content -->
  <section class="py-5">
    <div class="container text-center">
        <div class="about" data-aos="fade-up" data-aos-duration="1500">
      <h1 class="display-4">About EFAM</h1>
      <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus a iste beatae facilis! A autem dolor nostrum, ut, harum quas quidem sequi suscipit nobis quos cumque error praesentium aliquid. Sapiente.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni non accusantium nobis magnam qui id quos voluptas quisquam facilis at! Sit dolorum magni eum quasi itaque sint natus. Sequi, sunt.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, vitae explicabo. Natus reprehenderit suscipit consequatur voluptate, voluptatum corporis consectetur fugit esse, possimus dolorum, soluta porro veritatis nemo iusto saepe nihil.
         </p>
         <a href="about"><button class="aboutLearnMore" type="button">Learn More</button></a>
      </div>
      
    </div>
  </section>

<section class="py-5">
    <div class="container">
        <div class = "investors text-center" data-aos="fade-up" data-aos-duration="1500">
        <!--<h1 class="display-4">Investors</h1>-->
            
        
        <div class="investor-card position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
            
            <div class="col-xs-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4">Investors</h1>
              <p class="text">*Whether you are completely new to property investing or you’re a property tycoon.* there are courses to suit your desired need. (Copied from Propelle site)</p>
              <a href="investors"><button class="learnMore" type="button">Learn More</button></a>
            </div>
            <div class="product-device box-shadow d-none d-md-block"></div>
          </div>
        </div> 

    </div>
  </section>

<footer class="container">
  <hr>
  <p>&copy; EFAM Properties 2020 | <a href="mailto:efamproperties@gmail.com"><img title="email" src="https://res.cloudinary.com/ayoafolalu/image/upload/v1595470502/efamproperties/iconmonstr-email-2_jliizo.svg"></a>  | <a href="https://www.instagram.com/efamproperties/" target="_blank"><img title="instagram" src="https://res.cloudinary.com/ayoafolalu/image/upload/v1595470503/efamproperties/iconmonstr-instagram-11_us3n9p.svg"></a> | All Rights Reserved | Website by <a href="https://ayoafolalu.com">Ayo Afolalu</a><a href="#"><img class="up-arrow float-right" src ="https://res.cloudinary.com/ayoafolalu/image/upload/v1595470502/efamproperties/iconmonstr-arrow-up-thin_vibl31.svg" style="font-size:30px"></i></a></p>
  
</footer>

         
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
  </script>

</body>
</html>