<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="https://res.cloudinary.com/ayoafolalu/image/upload/v1595470502/efamproperties/favicon_q4zcbq.ico">
    <title>Subscribe - EFAM Properties</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/main.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
   
    <!-- Navigation -->
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">-->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="home"><img class = "logoPic" src="https://res.cloudinary.com/ayoafolalu/image/upload/v1595470518/efamproperties/logo1_qwe1as.png"></a><br>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse justify-content-md-center text-center" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="home">Home
                </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="investors">Investors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact">Contact</a>
          </li>
          <li class="nav-item active">
            <a class="btn btn-outline-dark" href="#">Subscribe</a>
            <span class="sr-only">(current)</span>
          </li>
        </ul>
      </div>
      
    </div>
  </nav>
  
  <section class = "subscribe">
    <div class = "container">
      <h1 class="display-4" align="center">Subscribe to our newsletter!</h1><br>
      <p class= "text-center">Sign up to stay in the loop. Receive updates, event invitations and more.</p>
       <form id = "subsribeForm">
        <div class="form-group">
          <label for="emailInput"><strong>Email address</strong></label>
          <input type="email" class="form-control" id="emailInput" placeholder="Please enter your email">
        </div><br>
        <div id = "submit" align="center">
        <input class="subscribeButton" type="submit" value="Subscribe Now">
      </div>
      </form>
  </section>

  

<footer class="footer container">
  <hr>
  <p>&copy; EFAM Properties 2020 | <a href="mailto:efamproperties@gmail.com"><img title="email" src="https://res.cloudinary.com/ayoafolalu/image/upload/v1595470502/efamproperties/iconmonstr-email-2_jliizo.svg"></a>  | <a href="https://www.instagram.com/efamproperties/" target="_blank"><img title="instagram" src="https://res.cloudinary.com/ayoafolalu/image/upload/v1595470503/efamproperties/iconmonstr-instagram-11_us3n9p.svg"></a> | All Rights Reserved | Website by <a href="https://ayoafolalu.com">Ayo Afolalu</a> <a href="#"><img class="up-arrow float-right" src ="https://res.cloudinary.com/ayoafolalu/image/upload/v1595470502/efamproperties/iconmonstr-arrow-up-thin_vibl31.svg" style="font-size:30px"></i></a></p>
  
</footer>

        
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
  </script>

</body>
</html>